/** @format */

.body {
	overflow: hidden;
}

.viewCryptoBtn {
	margin-top: 15rem;
	background-color: #074266;
	color: white;
	margin-left: 650px;
}

.h1 {
	margin-top: 5rem;
	width: 700px;
	margin-left: 450px;
}
