/** @format */

.cryptoList {
	margin: 5px 250px;
	width: 70%;
	overflow: hidden;
	background-color: #c5dae0;
}

.prev {
	position: relative;
	padding: 0.1rem 1rem 0.1rem 1rem;
	background-color: #074266;
	color: white;
}

.next {
	position: relative;
	padding: 0.1rem 1rem 0.1rem 1rem;
	background-color: #074266;
	color: white;
}

.buttons {
	margin-left: 25rem;
	margin-top: 5px;
}

.search {
	width: 70%;
	margin-top: 50px;
	margin-left: 250px;
}
