/** @format */

.body {
	overflow: hidden;
}

.viewCryptoBtn {
	position: absolute;
	left: 45%;
	top: 60%;
	background-color: #074266;
	color: white;
}

h1 {
	position: absolute;
	top: 10%;
	left: 32%;
}
