/** @format */

.img {
	background: url("./IMG/cryptoSign.jpg") no-repeat center right/cover;
	height: 100vh;
}

body {
	overflow: hidden;
}

@media (max-width: 900px) {
	.img {
		background: url("./IMG/cryptoSign.jpg") no-repeat center;
		height: 100vh;
		width: 100vw;
	}
}
